body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.hed{
    border: 1px solid black;
    border-radius:10px;
    height:70px;
}
.quiz-container {
    background-color:lightblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#question-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.option-container {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.option-container input {
    margin-right: 10px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#prev {
    background-color: #6c757d;
    color: #fff;
}

#next {
    background-color: #007bff;
    color: #fff;
}

.result-text {
    font-size: 18px;
    color: #28a745;
    margin-top: 20px;
}
